---
apiVersion: v1
kind: Namespace
metadata:
  name: management

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: gitlab-config-pv
spec:
  storageClassName: gitlab-config
  capacity:
    storage: 100M
  accessModes:
    - ReadWriteMany
  nfs:
    path: /nfs/gitlab/config
    server: {{ hostvars['storage'].local_ip }}

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: gitlab-data-pv
spec:
  storageClassName: gitlab-data
  capacity:
    storage: 50G
  accessModes:
    - ReadWriteMany
  nfs:
    path: /nfs/gitlab/data
    server: {{ hostvars['storage'].local_ip }}

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: gitlab-logs-pv
spec:
  storageClassName: gitlab-logs
  capacity:
    storage: 1G
  accessModes:
    - ReadWriteMany
  nfs:
    path: /nfs/gitlab/logs
    server: {{ hostvars['storage'].local_ip }}

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gitlab-config-pvc
  namespace: management
spec:
  storageClassName: gitlab-config
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 100M

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gitlab-data-pvc
  namespace: management
spec:
  storageClassName: gitlab-data
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50G

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gitlab-logs-pvc
  namespace: management
spec:
  storageClassName: gitlab-logs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1G

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitlab
  namespace: management
  labels:
    app: gitlab
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gitlab
  template:
    metadata:
      labels:
        app: gitlab
    spec:
      containers:
        - name: gitlab
          image: gitlab/gitlab-ee:14.9.2-ee.0
          imagePullPolicy: IfNotPresent
          env:
            - name: TZ
              value: Europe/Moscow
            # - name: LANG
            #   value: ru_RU.UTF-8
            # - name: LC_ALL
            #   value: ru_RU.UTF-8
          volumeMounts:
            - mountPath: /etc/gitlab
              name: gitlab-config-volume
            - mountPath: /var/opt/gitlab
              name: gitlab-data-volume
            - mountPath: /var/log/gitlab
              name: gitlab-logs-volume
      volumes:
        - name: gitlab-config-volume
          persistentVolumeClaim:
            claimName: gitlab-config-pvc
        - name: gitlab-data-volume
          persistentVolumeClaim:
            claimName: gitlab-data-pvc
        - name: gitlab-logs-volume
          persistentVolumeClaim:
            claimName: gitlab-logs-pvc

---
apiVersion: v1
kind: Service
metadata:
  name: gitlab-service
  namespace: management
spec:
  selector:
    app: gitlab
  ports:
    - name: http-port
      protocol: TCP
      port: 80
      targetPort: 80
    - name: https-port
      protocol: TCP
      port: 443
      targetPort: 443
    - name: ssh-port
      protocol: TCP
      port: 22
      targetPort: 22
    - name: registry-port
      protocol: TCP
      port: 5050
      targetPort: 5050

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: management
  name: gitlab-ingress
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  rules:
    - http:
        paths:
          - path: /
            pathType: ImplementationSpecific
            backend:
              service:
                name: gitlab-service
                port:
                  number: 80
