cloud_id                = "b1g7mh55020i2hpup3cj"
folder_id               = "b1g4871feed9nkfl3dnu"
zone                    = "ru-central1-a"
token                   = "LGIHhLKHKhLKJH-hKHKJjhKLJJHKJjh"
node_count              = 3
node_disk_image         = "fd8f1tik9a7ap9ik2dg1" # ubuntu-20-04-lts-v20220620
cidr_nodes              = "192.168.10.0/24"
public_key_path         = "~/.ssh/ubuntu.pub"
private_key_path        = "~/.ssh/ubuntu"
server_user             = "ubuntu"
main_domain             = "example.com"
cert_issuer_email       = "admin@example.com"
afraid_account          = "some_account"
afraid_pass             = "some_pass"
