node0 ansible_host=${ node0_ip }

[bastion]
nat-instance ansible_host=${ nat_instance_ip }

[nodes]
%{ for i, addr in nodes_ip ~}
%{ if i != 0 }
node${ i } ansible_host=${ addr }
%{ endif }
%{ endfor ~}

[nodes:vars]
ansible_ssh_common_args='-o ProxyCommand="ssh -W %h:%p -q ${ server_user }@${ nat_instance_ip } -i ${ private_key }"'

[all:vars]
ansible_user=${ server_user }
ansible_ssh_private_key_file=${ private_key }
