user  nginx;
worker_processes  auto;

error_log  /var/log/nginx/error.log notice;
pid        /var/run/nginx.pid;

events {
  use epoll;
  worker_connections 1024;
  multi_accept on;
}

http {
  include       /etc/nginx/mime.types;
  default_type  application/octet-stream;

  #resolver 127.0.0.11 ipv6=off valid=15s;

  log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                    '$status $body_bytes_sent "$http_referer" '
                    '"$http_user_agent" "$http_x_forwarded_for"';

  log_format graylog_json escape=json '{ "nginx_timestamp": "$time_iso8601", '
       '"remote_addr": "$remote_addr", '
       '"connection": "$connection", '
       '"connection_requests": $connection_requests, '
       '"pipe": "$pipe", '
       '"body_bytes_sent": $body_bytes_sent, '
       '"request_length": $request_length, '
       '"request_time": $request_time, '
       '"response_status": $status, '
       '"request": "$request", '
       '"request_method": "$request_method", '
       '"host": "$host", '
       '"upstream_cache_status": "$upstream_cache_status", '
       '"upstream_addr": "$upstream_addr", '
       '"http_x_forwarded_for": "$http_x_forwarded_for", '
       '"http_referrer": "$http_referer", '
       '"http_user_agent": "$http_user_agent", '
       '"http_version": "$server_protocol", '
       '"remote_user": "$remote_user", '
       '"http_x_forwarded_proto": "$http_x_forwarded_proto", '
       '"upstream_response_time": "$upstream_response_time", '
       '"nginx_access": true }';

  #access_log syslog:server=graylog.iecp.ru:12401 graylog_json;

  access_log  /var/log/nginx/access.log  main;
  
  keepalive_timeout 120;
  keepalive_requests 100;
  types_hash_max_size 2048;
  client_max_body_size 48m;
  server_tokens off;
  client_body_timeout 60;
  reset_timedout_connection on;
  send_timeout 5;
  sendfile on;
  tcp_nodelay on;
  tcp_nopush on;
  gzip on;
  gzip_disable "msie6";
  gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript;
  open_file_cache max=200000 inactive=20s;
  open_file_cache_valid 30s;
  open_file_cache_min_uses 2;
  open_file_cache_errors on;

  upstream rancher {
    server {{ hostvars['node0'].ansible_host }};
  }

  server {
    server_name {{ hostvars['nat-instance'].ansible_host }}.sslip.io;
    listen 80 default_server;
    return 302 https://{{ hostvars['nat-instance'].ansible_host }}.sslip.io$request_uri;
  }

  server {
    server_name {{ hostvars['nat-instance'].ansible_host }}.sslip.io;
    listen 443 ssl default_server;
    ssl_certificate cert/cert.pem;
    ssl_certificate_key cert/key.pem;

    location / {
      proxy_pass https://rancher;
      proxy_set_header Host $host;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
  }
}

